* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

h1 {
    /* text-align: center; */
    margin: 0.75rem;
    padding-left: 1.25rem;
    color: #ffffff;
}

p {
    font-style: italic;
}

#nav {
    width: 30rem;
    background-color: #333333;
}

/* Static Posts */
.post-1,
.post-2,
.post-3 {
    width: 15rem;
    height: 10rem;
    margin: 2rem;
    /* background-color: red; */
}
.post-1 {
    background-color: red;
}

.post-2 {
    background-color: green;
}

.post-3 {
    background-color: yellow;
}

.note {
    border: 1px dotted;
    text-align: center;

}

#target {
    width: 100%;
    background: #555555;
    touch-action: none;
}


.post-footer{
    position: absolute;
    right: 0;
    bottom: 0;
}
